body {
	font-family: 'Lora', serif !important;
}

.mediaPostDescription {
	color: #FFF !important;
}

.mediaPostDescription::placeholder {
	color: #EEE !important;
}

.mediaPostDescription:focus {
	outline: none !important;
}

.commentsTextarea::placeholder {
	color: #333;
}

.commentsTextarea:focus {
	outline: none !important;
}

.commentsTextarea {
	color: #111;
	border: 1px solid rgba(0,0,0,0.3);
	border-width: 1px 0 0 0;
}

#ShareBoxInput {
	color: #111;
	font-family: inherit;
	resize: none;
	font-size: 1rem;
	min-height: 65px;
}

#ShareBoxInput::placeholder {
	color: #333;
}
