body {
	font-family: 'Lora', serif !important;
}

body ::-webkit-scrollbar {
	display: none !important;
	width: 0 !important;
}

input {
	font-family: inherit !important;
}

textarea {
	font-family: inherit !important;
	resize: none !important;
}

.mediaPostDescription {
	color: #FFF !important;
	align-self: center;
}

.mediaPostDescription::placeholder {
	color: #EEE !important;
}

.mediaPostDescription:focus {
	outline: none !important;
}

.mediaPostDescription {
	align-self: flex-start;
	margin-top: 2rem;
}

#SharePostInput {
	color: #FFF !important;
	align-self: center !important;
}

#SharePostInput::placeholder {
	color: #EEE !important;
}

#SharePostInput:focus {
	outline: none !important;
}

.commentsTextarea::placeholder {
	color: #333;
}

.commentsTextarea:focus {
	outline: none !important;
}

.commentsTextarea {
	color: #111;
	border-top: 1px solid rgba(0,0,0,0.15);
	border-width: 1px 0 0 0;
}

#ShareBoxInput {
	color: #111;
	font-family: inherit;
	resize: none;
	font-size: 1rem;
	min-height: 65px;
}

#ShareBoxInput::placeholder {
	color: #333;
}

@media (min-width: 960px) {
	#NavbarSmallScreenOption {
		display: none;
	}
}

.ui.label {
	background-color: rgb(133, 217, 191) !important;
	border-color: rgb(133, 217, 191) !important;
	color: #fff !important;
}

.ui.floating.label {
	z-index: 4 !important;
}

#ShareLinkTextarea {
	color: #111;
	padding: 0.5rem 1rem;
}

#ShareLinkTextarea::placeholder {
	color: #333;
}

@media (min-width: 420px) {
	#ShareLinkTextarea {
		min-height: 120px;
	}
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid rgb(133, 217, 191);
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: rgb(133, 217, 191) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.TicketsTable {
	width: 100%;
}
